<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <title>Tuvansa</title>
    <!-- Bootstrap Core CSS -->
    <link href="plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="css/colors/default-dark.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

    <style>
        .iframe-container {
            padding-bottom: 60%;
            padding-top: 30px;
            height: 0;
            overflow: hidden;
        }

        .iframe-container iframe,
        .iframe-container object,
        .iframe-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .modal.in .modal-dialog {
            transform: none;
            /*translate(0px, 0px);*/
        }

        .form-control {
            width: 50%;
            min-height: 0px;
        }

        td.details-control {
            background: url('images/details_open.png') no-repeat center center;

            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('images/details_close.png') no-repeat center center;
        }

        button.close {
            padding: 0;
            background: 0 0;
            border: 0;
            -webkit-appearance: none;
        }

        .close {
            float: right;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            opacity: .5;

        }
    </style>

</head>

<%- include ('../partials/preloader.ejs'); -%>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <!--  <div id="main-wrapper"> -->
    <%- include ('../partials/header.ejs'); -%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <%- include ('../partials/left-sidebar.ejs') -%>
            <!-- ============================================================== -->
            <!-- End Left Sidebar - style you can find in sidebar.scss  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Page wrapper  -->
            <!-- ============================================================== -->
            <div class="page-wrapper">
                <!-- ============================================================== -->
                <!-- Container fluid  -->
                <!-- ============================================================== -->



                <div class="container-fluid ">
                    <!-- r-aside -->
                    <!-- ============================================================== -->
                    <!-- Bread crumb and right sidebar toggle -->
                    <!-- ============================================================== -->
                    <%- include ('../partials/breadcrumb.ejs') -%>
                        <!-- ============================================================== -->
                        <!-- End Bread crumb and right sidebar toggle -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Sales overview chart -->
                        <!-- ============================================================== -->

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="table-responsive">
                                            <table id="sample_data" class="table table-bordered "
                                                style="width:100%; font-size:11px; ">
                                                <thead>
                                                    <tr>
                                                        <th>UID</th>
                                                        <th>Alta</th>
                                                        <th>Entrada</th>
                                                        <th>Orden</th>
                                                        <th>Proveedor</th>
                                                        <th>Coladas</th>
                                                        <th> Actions </th>

                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--                         <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body"> -->
                        <%- include ('../components/modalProveedores.ejs') -%>
                            <!--                                     </div>
                                </div>
                            </div>
                        </div> -->



                </div>
                <!-- ============================================================== -->
                <!-- End Container fluid  -->
                <!-- ============================================================== -->
                <%- include ('../partials/footer.ejs') -%>
            </div>

            <script>

                $(document).ready(function () {


                    let tituloProductos = document.querySelector('#windowProductos .modal-title');

                    let codigo;
                    let proveedor;
                    let entrada;
                    let ordenCompra;

                    let productos;

                    let dataTable;

                    

                    tablaCertificadosTuvansa()

                    verPdf();



                    async function productosEntradasTable() {

                        $('#tableProductosEntradas').DataTable({
                            "bDestroy": true,
                            "processing": true,
                            "serverSide": true,
                            "order": [],
                            "ajax": { url: `/tableProductosEntradas`, type: "GET" },
                            "columns": [
                                { "data": [0] },
                                { "data": [1] },
                                { "data": [2] },
                                { "data": [3] },
                                { "data": [4] },
                                { "data": [5] },
                                { "data": [6] },
                                { "data": [7] },



                            ],
                            "pageLength": 5




                        });


                    }

                    function format(d) {


                        let body = ``;

                        for (let { ID, Codigo, EAN, Descripcion, Colada, Fecha, Cantidad, Certificado } of d) {

                            body += `

                                <tr>
                                    <td>${ID} </td>
                                    <td> ${Codigo} </td>
                                    <td> ${EAN} </td>
                                    <td> ${Descripcion} </td>
                                    <td> ${Cantidad} </td>
                                    <td> ${Colada} </td>
                                    <td> <btn class="btn btn-xs bg-success view-pdf" href='${Certificado}' ><i class ="fa fa-file-pdf-o"></i></></btn>  </td>
                                    
                                </tr>
                            
                            
                            `

                        }


                        let template2 = `
                            <table id="example" class="table table-primary table-striped table-hover  "  cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Codigo</th>  
                                        <th>EAN</th>  
                                        <th>Descripcion</th>
                                        <th>Cantidad</th>
                                        <th>Colada</th>  
                                        <th>Certificado</th>  
                                         
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                  ${body}
                                </tbody>

                            </table>

                            `

                        return template2;
                    }




                    function verPdf() {

                        $(document).on('click', '.view-pdf', async function () {

                            var pdf_link = $(this).attr('href');

                            cargaSpinner()

                            let resp = await $.ajax({
                                url: `/pdf/${pdf_link}`,
                                type: 'GET'
                            })



                            if (resp.ok) {
                                cierraSpinner()
                            }
                            let uri = `uploads/${pdf_link}`;
                            var iframe = `<object type="application/pdf" data="${uri}" width="100%" height="600">No Support</object>`
                            $.createModal({
                                title: '',
                                message: iframe,
                                closeButton: true,
                                scrollable: false
                            });
                            return true;

                        })


                    }



                    function tablaCertificadosTuvansa() {

                        dataTable = $('#sample_data').DataTable({
                            "bDestroy": true,
                            "processing": true,
                            "serverSide": true,
                            "order": [],
                            "ajax": { url: `/certificadosTable`, type: "GET" },
                            "columns": [
                                { "data": [0], "class": "details-control" },
                                { "data": [1] },
                                { "data": [2] },
                                { "data": [3] },
                                { "data": [4] },
                                { "data": [5] },
                                {
                                    "data": '',
                                    render: (data, type, row) => {



                                        return `<btn 
                                            class="btn btn-xs bg-warning editar" 
                                            data-target="#modalCertificados" 
                                            data-toggle="modal"
                                            >
                                            <i class ="fa fa-edit"></i></></btn>`

                                    }

                                },

                            ],
                            "dom": 'Bfrtip',
                            "buttons": {
                                dom: {
                                    button: {
                                        tag: 'button',
                                        className: ''
                                    }
                                },
                                "buttons": [{
                                    text: 'Alta',
                                    className: 'btn btn-primary',
                                    action: (e, dt, node, config) => printTable(),
                                    attr: {
                                        "data-target": '#windowProveedor',
                                        "data-toggle": "modal"
                                    },

                                },
                                {
                                    text: 'Codigos',
                                    className: 'btn btn-success ',
                                    action: (e, dt, node, config) => productosEntradasTable(),
                                    attr: {
                                        "data-target": '#modalProductosEntradas',
                                        "data-toggle": "modal"
                                    },

                                }
                                ]
                            },

                            "order": [[1, "desc"]],
                            "columnDefs": [{ "visible": false, "targets": [5] }]
                        });


                        // Add event listener for opening and closing details
                        $('#sample_data tbody').on('click', 'td.details-control', async function () {


                            let tr = $(this).closest('tr');
                            let row = dataTable.row(tr);
                            const entrada = row.data()[2];

                            let { data } = await getData('coladas', entrada);


                            if (row.child.isShown()) {
                                // This row is already open - close it
                                row.child.hide();
                                tr.removeClass('shown');


                            }
                            else {
                                // Open this row
                                row.child(format(data)).show();
                                tr.addClass('shown');

                            }
                        });


                        $('#sample_data tbody').on('click', '.editar', async function () {

                            const entrada = dataTable.row($(this).closest('tr')).data()[2];

                            const { data } = await getData('coladas', entrada);


                            const tablaCertificadosEdit = $("#TablaCertificados").DataTable({
                                "bDestroy": true,
                                "data": data,
                                "columns": [

                                    { "data": "ID" },
                                    { "data": "Codigo" },
                                    { "data": "EAN" },
                                    { "data": "Descripcion" },
                                    { "data": "Cantidad" },
                                    {
                                        "data": 'Colada',
                                        render: (data, type, row) => {


                                            return `

                                        <form class="coladas-archivo-edit" name="coladas-archivo" method="POST" enctype="multipart/form-data" >
                                        
                                          
                                                <div class="form-horizontal form-material ">
                                                <div class="form-group ">
                                                
                                                    <div class="col-12">
                                                        
                                                        <input type="text" class="form-control form-control-line" style="width:100%" name="coladas" required value="${data}"  onkeyup="javascript:this.value=this.value.toUpperCase();">
                                                    </div>
                                                </div>
                                                </div>


                                           
                                        
                                    
                                            
                                            
                                        </form>
                                        `

                                        },


                                    },
                                    {
                                        "data": 'Certificado',
                                        render: (certificado) => {

                                            return `<btn class="btn btn-xs bg-warning edit-file" > Cambiar Archivo </btn>`
                                        }
                                    }

                                ],

                            })

                            $('#TablaCertificados tbody').on('submit', '.coladas-archivo-edit', async function (e) {
                                e.preventDefault();

                                const { ID } = tablaCertificadosEdit.row($(this).parents('tr')).data();

                                let formData = new FormData($(this)[0]);

                                formData.append('id', ID);

                                $.ajax({
                                    url: '/certificadosEdit',
                                    type: 'POST',
                                    data: formData,
                                    cache: false,
                                    contentType: false,
                                    processData: false,
                                    success: function (resp) {

                                        cierraSpinner()

                                        Swal.fire({
                                            position: 'top-end',
                                            icon: 'success',
                                            title: `${resp.message} `,
                                            showConfirmButton: false,
                                            timer: 1500
                                        })


                                        btn.classList.remove('bg-danger');
                                        btn.classList.add('bg-success');
                                        btn.textContent = 'Actualizado'
                                        btn.disabled = true;


                                        divPadre.removeChild(divPadre.children[1])

                                    },
                                    error: function (xhr, status, error) {
                                        console.log(xhr, status, error)
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Oops...',
                                            text: `Hubo en error, revisar con el administrador`
                                        })
                                    }

                                })



                            })

                            $('#TablaCertificados tbody').on('click', '.edit-file', async function (e) {

                                const { ID, Colada, Certificado } = tablaCertificadosEdit.row($(this).parents('tr')).data();

                                let btn = $(this)[0];
                                let divPadre = $(this)[0].parentElement;




                                let formArchivo = document.createElement('form')

                                formArchivo.setAttribute('method', 'POST')
                                formArchivo.setAttribute('enctype', 'multipart/form-data')
                                formArchivo.classList.add('archivo', 'my-2');
                                formArchivo.innerHTML = `
                                    <form class="archivo" name="archivo" method="POST" enctype="multipart/form-data" >
                                        <div class="col-sm-12 mb-2">
                                            <input type="file" class="certificado form-control-line "  name="certificados" placeholder="Certificado" required>
                                        </div>
                                    </form>
                                `;




                                if (btn.classList.contains('bg-warning')) {
                                    console.log('si tiene warning')
                                    btn.classList.remove('bg-warning');
                                    btn.classList.add('bg-danger');
                                    btn.textContent = ' Cancelar '

                                } else if
                                    (btn.classList.contains('bg-danger')) {

                                    btn.classList.remove('bg-danger');
                                    btn.classList.add('bg-warning');
                                    btn.textContent = 'Cambiar Archivo'


                                    divPadre.removeChild(divPadre.children[1])

                                    return
                                }

                                $(this)[0].parentElement.append(formArchivo)

                                formArchivo.onchange = (e) => {


                                    cargaSpinner()

                                    let formArchivo = e.target.parentElement.parentElement;
                                    let formData = new FormData(formArchivo)

                                    formData.append('id', ID)

                                    $.ajax({
                                        url: '/certificadosEdit',
                                        type: 'POST',
                                        data: formData,
                                        cache: false,
                                        contentType: false,
                                        processData: false,
                                        success: function (resp) {

                                            cierraSpinner()

                                            Swal.fire({
                                                position: 'top-end',
                                                icon: 'success',
                                                title: `${resp.message} `,
                                                showConfirmButton: false,
                                                timer: 1500
                                            })


                                            btn.classList.remove('bg-danger');
                                            btn.classList.add('bg-success');
                                            btn.textContent = 'Actualizado'
                                            btn.disabled = true;


                                            divPadre.removeChild(divPadre.children[1])

                                        },
                                        error: function (xhr, status, error) {
                                            console.log(xhr, status, error)
                                            Swal.fire({
                                                icon: 'error',
                                                title: 'Oops...',
                                                text: `Hubo en error, revisar con el administrador`
                                            })

                                        }

                                    })

                                }



                            })


                            $('#modalCertificados').on('hide.bs.modal', () => tablaCertificadosEdit.clear().draw())


                        })

                    }



                    async function printTable() {

                        let proveedores = $('#TablaProveedores').DataTable({
                            "bDestroy": true,
                            "processing": true,
                            "serverSide": true,
                            "order": [],
                            "ajax": { url: `/table`, type: "GET" },
                            "columns": [
                                { "data": [0] },
                                { "data": [1] },
                                { "data": [2] },
                                { "data": [3] },
                                { "data": [4] },
                                { "data": [5] },
                                { "data": [6] },


                            ],
                            "order": [[6, "desc"]],
                            "pageLength": 5
                        })



                        $('#TablaProveedores tbody').on('click', 'tr', async function () {


                            cargaSpinner();

                            codigo = proveedores.row(this).data()[3];
                            proveedor = proveedores.row(this).data()[1];
                            entrada = proveedores.row(this).data()[3];
                            ordenCompra = proveedores.row(this).data()[6];


                            let { data } = await getData('productos', codigo);

                            if (data) cierraSpinner();

                            $('#windowProductos').modal('show')
                            $('#windowProveedor').modal('hide')

                            tituloProductos.innerHTML = ` 
                                Proveedor: <strong>${proveedor} </strong>  
                                Entrada:  <strong>${entrada}   </strong>  
                                OrdenCompra: <strong>${ordenCompra}</strong> `
                                ;


                            productos = $("#TablaProductos").DataTable({
                                "bDestroy": true,
                                "data": data,
                                "columns": [
                                    { "data": "PRVCOD" },
                                    { "data": "PRVNOM" },
                                    { "data": "PRVRFC" },
                                    { "data": "DNUM" },
                                    { "data": "DFECHA" },
                                    { "data": "DREFERELLOS" },
                                    { "data": "DREFER" },
                                    { "data": "ICOD" },
                                    { "data": "IEAN" },
                                    { "data": "I2DESCR" },
                                    { "data": "AICANTF" },
                                    { "data": "IUM" },
                                    { "data": "DMULTICIA" },

                                    {
                                        "defaultContent": `

                                            <form class="coladas-archivo" name="coladas-archivo" method="POST" enctype="multipart/form-data" >

                                                <div>
                                                    <div class="form-horizontal form-material ">
                                                    <div class="form-group row">

                                                        <div class="col-sm-12">
                                                            <a href="javascript:void(0);" for="inputEmail3" class="add_button mx-3"><img src="images/details_open.png"/></a>
                                                            <input type="text" class="form-control form-control-line " name="coladas" placeholder="colada"  required value=""  onkeyup="javascript:this.value=this.value.toUpperCase();">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 mb-2">
                                                        <input type="file" class="certificado form-control-line "  name="certificados" placeholder="Certificado" required>
                                                    </div>


                                                </div>
                                                    
                                                    
                                                </div>


                                                <div class="d-grid gap-2">
                                                        <button type="submit"  class='button-enviar btn btn-primary btn-sm'>enviar</button>
                                                    </div>
                                                
                   
                                            </form>
                                    ` },

                                ],
                                "columnDefs": [
                                    { "visible": false, "targets": [0, 1, 2, 3, 4, 5, 6, 11] }
                                ]
                            })

                        })

                    }

                    async function getData(param, codigo) {

                        return await $.ajax({
                            url: `/certificadosData/${param}`,
                            data: { codigo },
                            type: 'POST',
                        })
                    }

                    function cargaSpinner() {
                        Swal.fire({
                            showConfirmButton: false,
                            allowOutsideClick: false
                        })
                        Swal.showLoading({
                            allowOutsideClick: false
                        })
                    }

                    function cierraSpinner() {
                        Swal.close()
                    }

                    //Agrega mas coladas
                    $(document).on('click', '.add_button', function ({ target }) {

                        let fieldHTML = `
                            <div class="form-group row">

                                <div class="col-sm-12">
                                    <a href="javascript:void(0);" for="inputEmail3" class="remove_button mx-3"><img src="images/details_close.png"/></a>
                                    <input type="text" class="form-control form-control-line " name="coladas" placeholder="colada" required value=""  onkeyup="javascript:this.value=this.value.toUpperCase();">
                                </div>
                            </div>
                            <div class="col-sm-12 mb-2">
                                <input type="file" class="certificado form-control-line "  name="certificados" placeholder="Certificado" required>
                            </div>`
                            ;

                        let div = document.createElement('div')

                        div.classList.add('form-horizontal', 'form-material')

                        div.innerHTML = fieldHTML;

                        target.parentElement.parentElement.parentElement.parentElement.parentElement.append(div)


                    });

                    //Quita coladas
                    $(document).on('click', '.remove_button', function () {

                        $(this).parent('div').parent('div').parent('div').remove()

                    });


                    $('#TablaProductos tbody').on('submit', '.coladas-archivo', function (e) {


                        e.preventDefault()


                        let tablaProductosRow = productos.row($(this).parents('tr')).data();
                        let tr = $(this)[0].closest('tr');
                        let formData = new FormData($(this)[0]);

                        let string = JSON.stringify(tablaProductosRow)

                        formData.append('data', string)


                        console.log($(this)[0].closest('tr'))



                        // Ver los valores de un form data
                        // for (let data of formData.entries()) {
                        //     console.log(data)
                        // }

                        cargaSpinner();

                        $.ajax({
                            url: '/certificadosUpload',
                            type: 'POST',
                            data: formData,
                            cache: false,
                            contentType: false,
                            processData: false,
                            success: function (resp) {

                                console.log(resp)

                                tr.remove()

                                cierraSpinner()

                                // $('#windowProductos').modal('hide')
                                // $('#windowProveedor').modal('hide')

                                dataTable.draw()

                                Swal.fire({
                                    position: 'top-end',
                                    icon: 'success',
                                    title: `${resp.message} `,
                                    showConfirmButton: false,
                                    timer: 1500
                                })


                            },
                            error: function ({ responseJSON }) {



                                // $('#windowProductos').modal('hide')
                                // $('#windowProveedor').modal('hide')

                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: `${responseJSON.message} `
                                })

                            }
                        })

                    })


                    //Edita 




                })



            </script>